node-red/flows.json
[
  {
    "id": "mqtt-broker-1",
    "type": "mqtt-broker",
    "name": "EMS Mosquitto",
    "broker": "${MQTT_BROKER_HOST}",
    "port": "${MQTT_BROKER_PORT}",
    "clientid": "nodered-ems",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {}
  },

  { "id": "tab-temperature",   "type": "tab", "label": "Temperature & Humidity", "disabled": false },
  { "id": "tab-power",         "type": "tab", "label": "Power Monitoring",        "disabled": false },
  { "id": "tab-door",          "type": "tab", "label": "Door & Access",            "disabled": false },
  { "id": "tab-smoke",         "type": "tab", "label": "Smoke & Gas",              "disabled": false },
  { "id": "tab-dehumidifier",  "type": "tab", "label": "Dehumidifier",             "disabled": false },
  { "id": "tab-alert-log",     "type": "tab", "label": "Alert Logging",            "disabled": false },

  {
    "id": "mqtt-in-temp",
    "type": "mqtt in",
    "z": "tab-temperature",
    "name": "Subscribe Temperature",
    "topic": "ems/raw/temperature/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-temp"]]
  },
  {
    "id": "fn-temp",
    "type": "function",
    "z": "tab-temperature",
    "name": "Parse & Threshold Check",
    "func": "var pool = global.get('pgPool');\nvar sensorId = msg.topic.split('/').pop();\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid JSON: ' + msg.payload); return null; }\nvar temp = parseFloat(data.temp_c);\nvar humidity = parseFloat(data.humidity_pct);\nvar ts = data.timestamp || new Date().toISOString();\nif (isNaN(temp) || isNaN(humidity)) { node.error('Bad values: ' + JSON.stringify(data)); return null; }\nvar status = 'normal';\nif (temp >= 27 || humidity >= 80) status = 'critical';\nelse if (temp >= 24 || humidity >= 70) status = 'warning';\nif (pool) { pool.query('INSERT INTO sensor_readings (sensor_id, sensor_type, reading_ts, value_numeric, value_json, unit) VALUES ($1,$2,$3,$4,$5,$6)', [sensorId, 'temperature', ts, temp, JSON.stringify(data), 'C']).catch(function(e) { node.error('[DB] ' + e.message); }); }\nvar dashMsg = { topic: 'ems/dashboard/temperature/' + sensorId, payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'temperature', temp_c: temp, humidity_pct: humidity, status: status, timestamp: ts }) };\nvar alertMsg = null;\nif (temp >= 27) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'temperature', metric: 'temp_c', value: temp, threshold: 27, severity: 'critical', message: 'CRITICAL: Temperature ' + temp + 'C exceeds 27C on ' + sensorId, timestamp: ts }) };\nelse if (temp >= 24) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'temperature', metric: 'temp_c', value: temp, threshold: 24, severity: 'warning', message: 'WARNING: Temperature ' + temp + 'C exceeds 24C on ' + sensorId, timestamp: ts }) };\nelse if (humidity >= 80) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'temperature', metric: 'humidity_pct', value: humidity, threshold: 80, severity: 'critical', message: 'CRITICAL: Humidity ' + humidity + '% exceeds 80% on ' + sensorId, timestamp: ts }) };\nelse if (humidity >= 70) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'temperature', metric: 'humidity_pct', value: humidity, threshold: 70, severity: 'warning', message: 'WARNING: Humidity ' + humidity + '% exceeds 70% on ' + sensorId, timestamp: ts }) };\nreturn [dashMsg, alertMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [["mqtt-out-temp-dash"], ["mqtt-out-alert-temp"]]
  },
  {
    "id": "mqtt-out-temp-dash",
    "type": "mqtt out",
    "z": "tab-temperature",
    "name": "Publish Dashboard",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-out-alert-temp",
    "type": "mqtt out",
    "z": "tab-temperature",
    "name": "Publish Alert",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt-in-power",
    "type": "mqtt in",
    "z": "tab-power",
    "name": "Subscribe Power",
    "topic": "ems/raw/power/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-power"]]
  },
  {
    "id": "fn-power",
    "type": "function",
    "z": "tab-power",
    "name": "Parse & Threshold Check",
    "func": "var pool = global.get('pgPool');\nvar sensorId = msg.topic.split('/').pop();\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid JSON: ' + msg.payload); return null; }\nvar voltage = parseFloat(data.voltage_v) || 0;\nvar current = parseFloat(data.current_a) || 0;\nvar power   = parseFloat(data.power_w)   || 0;\nvar pf      = parseFloat(data.power_factor) || 1;\nvar energy  = parseFloat(data.energy_kwh)   || 0;\nvar ts = data.timestamp || new Date().toISOString();\nvar status = 'normal';\nif (pf < 0.75 || current > 100 || voltage < 200 || voltage > 260) status = 'critical';\nelse if (pf < 0.85 || current > 80) status = 'warning';\nif (pool) { pool.query('INSERT INTO sensor_readings (sensor_id, sensor_type, reading_ts, value_numeric, value_json, unit) VALUES ($1,$2,$3,$4,$5,$6)', [sensorId, 'power', ts, power, JSON.stringify(data), 'W']).catch(function(e) { node.error('[DB] ' + e.message); }); }\nvar dashMsg = { topic: 'ems/dashboard/power/' + sensorId, payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'power', voltage_v: voltage, current_a: current, power_w: power, power_factor: pf, energy_kwh: energy, status: status, timestamp: ts }) };\nvar alertMsg = null;\nif (pf < 0.75) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'power', metric: 'power_factor', value: pf, threshold: 0.75, severity: 'critical', message: 'CRITICAL: Power factor ' + pf + ' below 0.75 on ' + sensorId, timestamp: ts }) };\nelse if (pf < 0.85) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'power', metric: 'power_factor', value: pf, threshold: 0.85, severity: 'warning', message: 'WARNING: Power factor ' + pf + ' below 0.85 on ' + sensorId, timestamp: ts }) };\nelse if (current > 100) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'power', metric: 'current_a', value: current, threshold: 100, severity: 'critical', message: 'CRITICAL: Current ' + current + 'A exceeds 100A on ' + sensorId, timestamp: ts }) };\nelse if (current > 80) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'power', metric: 'current_a', value: current, threshold: 80, severity: 'warning', message: 'WARNING: Current ' + current + 'A exceeds 80A on ' + sensorId, timestamp: ts }) };\nreturn [dashMsg, alertMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [["mqtt-out-power-dash"], ["mqtt-out-alert-power"]]
  },
  {
    "id": "mqtt-out-power-dash",
    "type": "mqtt out",
    "z": "tab-power",
    "name": "Publish Dashboard",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-out-alert-power",
    "type": "mqtt out",
    "z": "tab-power",
    "name": "Publish Alert",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt-in-door",
    "type": "mqtt in",
    "z": "tab-door",
    "name": "Subscribe Door",
    "topic": "ems/raw/door/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-door"]]
  },
  {
    "id": "fn-door",
    "type": "function",
    "z": "tab-door",
    "name": "Parse & Threshold Check",
    "func": "var pool = global.get('pgPool');\nvar sensorId = msg.topic.split('/').pop();\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid JSON: ' + msg.payload); return null; }\nvar state  = String(data.state || '').toLowerCase();\nvar ts     = data.timestamp || new Date().toISOString();\nvar isOpen = (state === 'open');\nif (pool) { pool.query('INSERT INTO sensor_readings (sensor_id, sensor_type, reading_ts, value_numeric, value_json, unit) VALUES ($1,$2,$3,$4,$5,$6)', [sensorId, 'door', ts, isOpen ? 1 : 0, JSON.stringify(data), 'state']).catch(function(e) { node.error('[DB] ' + e.message); }); }\nvar dashMsg = { topic: 'ems/dashboard/door/' + sensorId, payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'door', state: state, is_open: isOpen, status: isOpen ? 'critical' : 'normal', timestamp: ts }) };\nvar alertMsg = isOpen ? { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'door', metric: 'state', value: 1, threshold: 0, severity: 'critical', message: 'ALERT: Door ' + sensorId + ' has been opened', timestamp: ts }) } : null;\nreturn [dashMsg, alertMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [["mqtt-out-door-dash"], ["mqtt-out-alert-door"]]
  },
  {
    "id": "mqtt-out-door-dash",
    "type": "mqtt out",
    "z": "tab-door",
    "name": "Publish Dashboard",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-out-alert-door",
    "type": "mqtt out",
    "z": "tab-door",
    "name": "Publish Alert",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt-in-smoke",
    "type": "mqtt in",
    "z": "tab-smoke",
    "name": "Subscribe Smoke/Gas",
    "topic": "ems/raw/smoke/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-smoke"]]
  },
  {
    "id": "fn-smoke",
    "type": "function",
    "z": "tab-smoke",
    "name": "Parse & Threshold Check",
    "func": "var pool = global.get('pgPool');\nvar sensorId = msg.topic.split('/').pop();\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid JSON: ' + msg.payload); return null; }\nvar level   = parseFloat(data.level_pct) || 0;\nvar alarm   = (data.alarm === true || data.alarm === 'true' || data.alarm === 1);\nvar gasType = data.gas_type || 'smoke';\nvar ts      = data.timestamp || new Date().toISOString();\nvar status  = 'normal';\nif (alarm || level >= 50) status = 'critical';\nelse if (level >= 20) status = 'warning';\nif (pool) { pool.query('INSERT INTO sensor_readings (sensor_id, sensor_type, reading_ts, value_numeric, value_json, unit) VALUES ($1,$2,$3,$4,$5,$6)', [sensorId, 'smoke', ts, level, JSON.stringify(data), '%']).catch(function(e) { node.error('[DB] ' + e.message); }); }\nvar dashMsg = { topic: 'ems/dashboard/smoke/' + sensorId, payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'smoke', level_pct: level, alarm: alarm, gas_type: gasType, status: status, timestamp: ts }) };\nvar alertMsg = null;\nif (alarm || level >= 50) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'smoke', metric: 'level_pct', value: level, threshold: 50, severity: 'critical', message: 'CRITICAL: Smoke/Gas alarm! Level: ' + level + '% (' + gasType + ') on ' + sensorId, timestamp: ts }) };\nelse if (level >= 20) alertMsg = { topic: 'ems/dashboard/alert', payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'smoke', metric: 'level_pct', value: level, threshold: 20, severity: 'warning', message: 'WARNING: Smoke/Gas level ' + level + '% exceeds 20% on ' + sensorId, timestamp: ts }) };\nreturn [dashMsg, alertMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [["mqtt-out-smoke-dash"], ["mqtt-out-alert-smoke"]]
  },
  {
    "id": "mqtt-out-smoke-dash",
    "type": "mqtt out",
    "z": "tab-smoke",
    "name": "Publish Dashboard",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-out-alert-smoke",
    "type": "mqtt out",
    "z": "tab-smoke",
    "name": "Publish Alert",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt-in-dehumidifier",
    "type": "mqtt in",
    "z": "tab-dehumidifier",
    "name": "Subscribe Dehumidifier",
    "topic": "ems/raw/dehumidifier/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-dehumidifier"]]
  },
  {
    "id": "fn-dehumidifier",
    "type": "function",
    "z": "tab-dehumidifier",
    "name": "Parse & Log State",
    "func": "var pool = global.get('pgPool');\nvar sensorId = msg.topic.split('/').pop();\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid JSON: ' + msg.payload); return null; }\nvar state = String(data.state || '').toLowerCase();\nvar ts    = data.timestamp || new Date().toISOString();\nvar isOn  = (state === 'on');\nif (pool) { pool.query('INSERT INTO sensor_readings (sensor_id, sensor_type, reading_ts, value_numeric, value_json, unit) VALUES ($1,$2,$3,$4,$5,$6)', [sensorId, 'dehumidifier', ts, isOn ? 1 : 0, JSON.stringify(data), 'state']).catch(function(e) { node.error('[DB] ' + e.message); }); }\nvar dashMsg = { topic: 'ems/dashboard/dehumidifier/' + sensorId, payload: JSON.stringify({ sensor_id: sensorId, sensor_type: 'dehumidifier', state: state, is_on: isOn, status: 'normal', timestamp: ts }) };\nreturn [dashMsg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [["mqtt-out-dehum-dash"], []]
  },
  {
    "id": "mqtt-out-dehum-dash",
    "type": "mqtt out",
    "z": "tab-dehumidifier",
    "name": "Publish Dashboard",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt-broker-1",
    "x": 700,
    "y": 80,
    "wires": []
  },

  {
    "id": "mqtt-in-alert-log",
    "type": "mqtt in",
    "z": "tab-alert-log",
    "name": "Subscribe Alerts",
    "topic": "ems/dashboard/alert",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["fn-alert-log"]]
  },
  {
    "id": "fn-alert-log",
    "type": "function",
    "z": "tab-alert-log",
    "name": "Insert Alert History",
    "func": "var pool = global.get('pgPool');\nvar data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { node.error('Invalid alert JSON: ' + msg.payload); return null; }\nif (!pool) { node.warn('pgPool not available'); return null; }\npool.query('INSERT INTO alert_history (sensor_id, message, severity, triggered_at) VALUES ($1, $2, $3, $4)', [data.sensor_id || 'unknown', data.message || '', data.severity || 'warning', data.timestamp || new Date().toISOString()]).catch(function(e) { node.error('[DB alert_history] ' + e.message); });\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [[]]
  }
]
